body{
    background-color: rgb(22, 134, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    height: 300px;
    width: 400px;
    background: white;
    border-radius: 10px;
    display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
    text-align: left;
}
.question{
    margin: 0%;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
}
.answer{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}
.game{
    text-align: left;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    width: 70%;
    height: 70%;
}
.content{

   display: flex;
   flex-direction: column;
   gap: 10px;
}
.result{
    width: 70%;
    height: 70%;
    display:none;
}
.wrong{
    color: red;
    font-size: medium;
font-family: sans-serif;
    
}
.correct{
color: green;
font-size: medium;
font-family: sans-serif;
}
.score{
    font-size: larger;
    color: black;
}

button{
    padding: 10px 5px;
    background: blueviolet;
    color: white;
    width: 100%;
    font-family: sans-serif;
    font-weight: 700;
    
}